{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ class.name }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}.{{ class.name }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}.{{ class.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Class</h5>
    <div class="links">
      <a class="current" href="class.{{ class.name }}.html#description">{{ class.name }}</a>
    </div>
  </div>
  <div class="section">
    <h5>Constructors</h5>
    <div class="links">
    {% for m in class.ctors %}
      <a class="method" href="ctor.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Instance methods</h5>
    <div class="links">
    {% for m in class.methods %}
      <a class="method" href="method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Class methods</h5>
    <div class="links">
    {% for m in class.class_methods %}
      <a class="method" href="class_method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Type functions</h5>
    <div class="links">
    {% for m in class.type_funcs %}
      <a class="method" href="type_func.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Properties</h5>
    <div class="links">
    {% for p in class.properties %}
      <a href="property.{{ class.name }}.{{ p.name }}.html">{{ p.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Signals</h5>
    <div class="links">
    {% for s in class.signals %}
      <a href="signal.{{ class.name }}.{{ s.name }}.html">{{ s.name }}</a>
    {% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Class</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.{{ class.name }}</h1>
  </header>

  <section>
    <summary>
      <div class="toggle-wrapper">
        <h4 id="description">Description</a></h4>

        <pre><code>{{ class.c_decl }}</pre></code>

        <div class="docblock">
          {{ class.description|safe }}
        </div>

        <div class="docblock">
          <table>
            {% if class.stability %}
            <tr><td>Stability:</td><td>{{ class.stability }}</td></tr>
            {% endif %}
            {% if class.available_since %}
            <tr><td>Available since:</td><td>{{ class.available_since }}</td></tr>
            {% endif %}
            {% if class.deprecated_since %}
            <tr><td>Deprecated since:</td><td>{{ class.deprecated_since.version }}</td></tr>
            <tr><td colspan="2">{{ class.deprecated_since.message|safe }}</td></tr>
            {% endif %}
          </table>
        </div>

        {% if class.annotations %}
        <div class="docblock">
          <table>
          {% for (key, value) in class.annotations %}
            <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
          {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
    </summary>

    {% if class.interfaces %}
    <div class="toggle-wrapper">
      <h4 id"implements">Implements</a></h4>

      <div class="docblock">
        <ul>
        {% for iface in class.interfaces %}
          <li class="interface"><a href="iface.{{ iface.name }}.html">{{ namespace.name }}.{{ iface.name }}</a></li>
        {% endfor %}
        </ul>
      </li>
    </div>
    {% endif %}

    {% if class.ctors %}
    <div class="toggle-wrapper constructors">
      <h4 id="constructors">Constructors</a></h4>

      <div class="docblock">
      {% for ctor in class.ctors %}
        <div class="toggle-wrapper default-hide">
          <h6><a href="ctor.{{ class.name }}.{{ ctor.name }}.html">{{ ctor.identifier }}</a> ();</h6>

          <div class="docblock">
            {{ ctor.description|safe }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if class.methods %}
    <div class="toggle-wrapper methods">
      <h4 id="methods">Instance methods</a></h4>

      <div class="docblock">
      {% for method in class.methods %}
        <div class="toggle-wrapper default-hide">
          <h6><a href="method.{{ class.name}}.{{ method.name }}.html">{{ method.identifier }}</a> ();</h6>

          <div class="docblock">
            {{ method.description|safe }}
          </div>
        </div>
      {% endfor %}
      </div>

    </div>
    {% endif %}

    {% if class.properties %}
    <div class="toggle-wrapper properties">
      <h4 id="properties">Properties</a></h4>

      <div class="docblock">
      {% for property in class.properties %}
        <div class="toggle-wrapper default-hide">
          <h6><a href="property.{{ class.name }}.{{ property.name }}.html">{{ namespace.name }}.{{ class.name }}:{{ property.name }}</a></h6>

          <div class="docblock">
            {{ property.description|safe }}
          </div>
        </div>
      {% endfor %}
      </div>

    </div>
    {% endif %}

    {% if class.signals %}
    <div class="signals">
      <h4 id="signals">Signals</a></h4>

      <div class="docblock">
      {% for signal in class.signals %}
        <div class="toggle-wrapper default-hide">
          <h6><a href="signal.{{ class.name }}.{{ signal.name }}.html">{{ namespace.name }}.{{ class.name }}::{{ signal.name }}</a></h6>

          <div class="docblock">
            {{ signal.description|safe }}
          </div>
        </div>
      {% endfor %}
      </div>

    </div>
    {% endif %}

    {% if class.class_name %}
    <div class="class toggle-wrapper default-hide">
      <h4 id="class">Class structure</a></h4>

      <pre><code>struct {{ namespace.name}}.{{ class.class_name }} {
  {% for field in class.class_fields %}
  {{ field.name }}: {{ field.type_name }};
  {% else %}/* no available fields */{% endfor %}
}</code></pre>

      {% if class.class_fields %}
      <div class="docblock">
        <h6>Class members</h6>

        <table>
        {% for field in class.class_fields %}
        <tr>
          <td><code>{{ field.name }}</code></td>
          <td>{{ field.description|safe }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if class.class_methods %}
    <div class="toggle-wrapper methods">
      <h4 id="class-functions">Class methods</a></h4>

      <div class="docblock">
      {% for method in class.class_methods %}
      <div class="toggle-wrapper default-hide">
        <h6><a href="class_method.{{ class.class_name }}.{{ method.name }}.html">{{ method.identifier }}</a> ();</h6>

        <div class="docblock">
          {{ method.description|safe }}
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    {% endif %} 

    {% if class.functions %}
    <div class="toggle-wrapper methods">
      <h4 id="type-functions">Type functions</a></h4>

      <div class="docblock">
      {% for func in class.type_funcs %}
      <div class="toggle-wrapper default-hide">
        <h6><a href="type_func.{{ class.name }}.{{ func.name }}.html">{{ func.identifier }}</a> ();</h6>

        <div class="docblock">
          {{ func.description|safe }}
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    {% endif %}

  </section>
</section>
{% endblock %}
