{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ constant.name }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}.{{ constant.name }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}.{{ constant.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Constant</h5>
    <div class="links">
      <a class="current" href="const.{{ constant.name }}.html">{{ constant.name }}</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Constant</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.{{ constant.name }}</h1>
  </header>

  <section>
    <div class="declaration toggle-wrapper">
      <h4><a name="declaration">Declaration</a></h4>

      <div class="docblock">
        <pre><code>{{ constant.c_decl }}</code></pre>
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4><a name="description">Description</a></h4>

      <div class="docblock">
        {{ constant.description|safe }}
      </div>

      <div class="docblock">
        <table>
          <tr>
            <td>Stability:</td><td>{{ constant.stability }}</td>
          </tr>
          <tr>
            <td>Available since:</td><td>{{ constant.available_since }}</td>
          </tr>
          {% if constant.deprecated_since %}
          <tr>
            <td>Deprecated since:</td><td>{{ constant.deprecated_since.version }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ constant.deprecated_since.message|safe }}</td>
          </tr>
          {% endif %}
        </table>
      </div>

      {% if constant.annotations %}
      <div class="docblock">
        <table>
        {% for (key, value) in constant.annotations %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

  </section>
</section>
{% endblock %}
