{% extends "base.html" %}

{% block title %}{{ namespace.name }} &ndash; {{ namespace.version }}: {{ content.title }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}-{{ namespace.version }}: {{ content.title }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}-{{ namespace.version }}"/>
{% endblock %}

{% block navbar %}
<nav class="sidebar">
  {% if CONFIG.logo_url %}
  <div class="section">
    <img src="{{ CONFIG.logo_url }}" class="logo"/>
  </div>
  {% endif %}
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <section>
    {{ content.data|safe }}
  </section>
</section>
{% endblock %}
