{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ enum.name }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}.{{ enum.name }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}.{{ enum.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  <div class="namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Type</h5>
    <div class="links">
      <a class="current" href="{{ enum.link_prefix }}.{{ enum.name }}.html">{{ enum.name }}</a>
    </div>
  </div>
  <div class="section">
    <h5>Type functions</h5>
    <div class="links">
    {% for m in enum.type_funcs %}
      <a class="method" href="type_func.{{ enum.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Enumeration</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.{{ enum.name }}</h1>
  </header>

  <section>
    <div class="declaration toggle-wrapper">
      <h4><a name="declaration">Declaration</a></h4>

      <div class="docblock">
        {% if enum.error %}
        <pre><code>error {{ namespace.name }}.{{ enum.name }}</code></pre>
        {% elif enum.bitfield %}
        <pre><code>flags {{ namespace.name }}.{{ enum.name }}</code></pre>
        {% else %}
        <pre><code>enum {{ namespace.name }}.{{ enum.name }}</code></pre>
        {% endif %}
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4><a name="description">Description</a></h4>

      <div class="docblock">
      {{ enum.description|safe }}
      </div>

      <div class="docblock">
        <table>
          <tr>
            <td>Stability:</td><td>{{ enum.stability }}</td>
          </tr>
          <tr>
            <td>Available since:</td><td>{{ enum.available_since }}</td>
          </tr>
          {% if enum.deprecated_since %}
          <tr>
            <td>Deprecated since:</td><td>{{ enum.deprecated_since[0] }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ enum.deprecated_since[1] }}</td>
          </tr>
          {% endif %}
        </table>
      </div>

      {% if enum.annotations %}
      <div class="docblock">
        <table>
        {% for (key, value) in enum.annotations %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

    <div class="members toggle-wrapper">
      <h4><a name="members">Members</a></h4>

      <div class="docblock">
      <table>
      {% for member in enum.members %}
        <tr>
          <td><code>{{ member.name }}</code></td>
          <td><code>{{ member.value }}</code></td>
          <td><code>&quot;{{ member.nick }}&quot;</code></td>
          <td>{{ member.description|safe }}</td>
        </tr>
      {% endfor %}
      </table>
      </div>
    </div>

    {% if enum.error_domain %}
    <div class="error-domain toggle-wrapper">
      <h4><a name="error-domain">Error domain</a></h4>

      <div class="docblock">
        <pre><code>&quot;{{ enum.domain }}&quot;</code></pre>
      </div>
    </div>
    {% endif %}

    {% if enum.type_funcs %}
    <div class="type-funcs toggle-wrapper">
      <h4><a name="type-funcs">Type functions</a></h4>

      <div class="docblock">
      {% for func in enum.type_funcs %}
        <div class="toggle-wrapper">
          <h6><a href="type_func.{{ enum.name }}.{{ func.name }}.html">{{ func.identifier }} ();</a></h6>

          <div class="docblock">
            {{ func.description|safe }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

  </section>
</section>
{% endblock %}
