{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ func.name }}{% endblock %}

{% block meta_other %}
<meta name="og:title" content="{{ namespace.name }}.{{ func.name }}"/>
<meta name="og:description" content="Reference for {{ namespace.name }}.{{ func.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  {% if CONFIG.logo_url %}
  <div class="section">
    <img src="{{ CONFIG.logo_url }}" class="logo"/>
  </div>
  {% endif %}
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Function</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.{{ func.name }}</h1>
  </header>

  <section>
    <div class="declaration toggle-wrapper">
      <h4><a name="declaration">Declaration</a></h4>

      <div class="docblock">
        <pre><code>{{ func.c_decl|safe }}</code></pre>
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4><a name="description">Description</a></h4>

      <div class="docblock">
        {{ func.description|safe }}
      </div>

      <div class="docblock">
        <table>
          {% if func.stability %}
          <tr><td>Stability:</td><td>{{ func.stability }}</td></tr>
          {% endif %}
          {% if func.available_since %}
          <tr><td>Available since:</td><td>{{ func.available_since }}</td></tr>
          {% endif %}
          {% if func.deprecated_since %}
          <tr><td>Deprecated since:</td><td>{{ func.deprecated_since.version }}</td></tr>
          <tr><td colspan="2">{{ func.deprecated_since.message|safe }}</td></tr>
          {% endif %}
        </table>
      </div>

      {% if func.annotations %}
      <div class="docblock">
        <table>
        {% for (key, value) in func.annotations %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

    {% if func.arguments|length != 0 %}
    <div class="parameters toggle-wrapper">
      <h4><a name="parameters">Parameters</a></h4>

      <div class="docblock">
        <table>
          {% for arg in func.arguments %}
          <tr class="arg-name">
            <td><code>{{ arg.name }}</code></td><td><code>{{ arg.type_cname }}</code></td>
          </tr>
          <tr class="arg-description">
            <td>&nbsp;</td>
            <td>{{ arg.description|safe }}</td>
          </tr>
          {% if arg.direction != "in" %}<tr><td>&nbsp;</td><td>Direction: {{ arg.direction }}</td></tr>{% endif %}
          {% if arg.direction == "in" and arg.is_pointer and arg.nullable %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.direction == "out" and arg.optional %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.is_array and arg.zero_terminated %}<tr><td>&nbsp;</td><td>The array must be <code>NULL</code> terminated</td></tr>{% endif %}
          {% if arg.is_array and arg.fixed_size > 0 %}<tr><td>&nbsp;</td><td>The array must have {{ arg.fixed_size }} elements</td></tr>{% endif %}
          {% if arg.is_array and arg.len_arg %}<tr><td>&nbsp;</td><td>The length of the array is in the <code>{{ arg.len_arg }}</code> argument</td></tr>{% endif %}
          {% if arg.is_pointer %}<tr><td>&nbsp;</td><td>{{ arg.transfer }}</td></tr>{% endif %}
          {% if arg.string_note %}<tr><td>&nbsp;</td><td>{{ arg.string_note }}</td></tr>{% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    {% if func.return_value %}
    <div class="returns toggle-wrapper">
      <h4><a name="returns">Return value</a></h4>

      <div class="docblock">
        {{ func.return_value.description|safe }}

        <table>
          {% if func.return_value.is_array and func.return_value.zero_terminated %}<tr><td>&nbsp;</td><td>The array must be <code>NULL</code> terminated</td></tr>{% endif %}
          {% if func.return_value.is_array and func.return_value.fixed_size > 0 %}<tr><td>&nbsp;</td><td>The array must have {{ func.return_value.fixed_size }} elements</td></tr>{% endif %}
          {% if func.return_value.is_array and func.return_value.len_arg %}<tr><td>&nbsp;</td><td>The length of the array is in the <code>{{ func.return_value.len_arg }}</code> argument</td></tr>{% endif %}
          {% if func.return_value.is_pointer %}<tr><td>{{ func.return_value.transfer }}</td></tr>{% endif %}
          {% if func.return_value.is_pointer and func.return_value.nullable %}<tr><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if func.return_value.string_note %}<tr><td>{{ func.return_value.string_note }}</td></tr>{% endif %}
        </table>
      </div>
    </div>
    {% endif %}
  </section>
</section>
{% endblock %}
