{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ class.name }}.{{ method.name }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}.{{ class.name }}.{{ method.name }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}.{{ class.name }}.{{ method.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Type</h5>
    <div class="links">
      <a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>
    </div>
  </div>
  <div class="section">
    <h5>Instance methods</h5>
    <div class="links">
    {% for m in class.methods %}
      <a class="method{% if method.name == m.name %} current{% endif %}" href="method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Class methods</h5>
    <div class="links">
    {% for m in class.class_methods %}
      <a class="method" href="class_method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Type functions</h5>
    <div class="links">
    {% for m in class.type_funcs %}
      <a class="method" href="type_func.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Properties</h5>
    <div class="links">
    {% for p in class.properties %}
      <a href="property.{{ class.name }}.{{ p.name }}.html">{{ p.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Signals</h5>
    <div class="links">
    {% for s in class.signals %}
      <a href="signal.{{ class.name }}.{{ s.name }}.html">{{ s.name }}</a>
    {% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Method</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.<a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>.{{ method.name }}</h1>
  </header>

  <section>
    <div class="declaration toggle-wrapper">
      <h4><a name="declaration">Declaration</a></h4>

      <div class="docblock c-decl">
        <pre><code>{{ method.c_decl }}</code></pre>
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4><a name="description">Description</a></h4>

      <div class="docblock">
        {{ method.description|safe }}
      </div>

      <div class="docblock">
        <table>
          <tr>
            <td>Stability:</td><td>{{ method.stability }}</td>
          </tr>
          <tr>
            <td>Available since:</td><td>{{ method.available_since }}</td>
          </tr>
          {% if method.deprecated_since %}
          <tr>
            <td>Deprecated since:</td><td>{{ method.deprecated_since.version }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ method.deprecated_since.message|safe }}</td>
          </tr>
          {% endif %}
        </table>
      </div>

      {% if method.annotations %}
      <div class="docblock">
        <table>
        {% for (key, value) in method.annotations %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

    {% if method.arguments|length != 0 %}
    <div class="parameters toggle-wrapper">
      <h4><a name="parameters">Parameters</a></h4>

      <div class="docblock">
        <table>
          {% for arg in method.arguments %}
          <tr>
            <td><code>{{ arg.name }}</code></td><td><code>{{ arg.type_cname }}</code></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>{{ arg.description|safe }}</td>
          </tr>
          {% if arg.direction != "in" %}<tr><td>&nbsp;</td><td>Direction: {{ arg.direction }}</td></tr>{% endif %}
          {% if arg.direction == "in" and arg.is_pointer and arg.nullable %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.direction == "out" and arg.optional %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.is_pointer %}<tr><td>&nbsp;</td><td>{{ arg.transfer }}</td></tr>{% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    {% if method.return_value %}
    <div class="returns toggle-wrapper">
      <h4><a name="returns">Return value</a></h4>

      <div class="docblock">
        {{ method.return_value.description|safe }}

        <table>
          {% if method.return_value.is_pointer %}<tr><td>{{ method.return_value.transfer }}</td></tr>{% endif %}
          {% if method.return_value.is_pointer and method.return_value.nullable %}Can be <code>NULL</code></td></tr>{% endif %}
        </table>
      </div>
    </div>
    {% endif %}

  </section>
</section>
{% endblock %}
