{% extends "base.html" %}

{% block title %}{{ namespace.name }} &ndash; {{ namespace.version }}{% endblock %}

{% block meta_other %}
  <meta name="og:title" content="{{ namespace.name }}-{{ namespace.version }}"/>
  <meta name="og:description" content="Reference for {{ namespace.name }}-{{ namespace.version }}"/>
{% endblock %}

{% block navbar %}
<nav class="sidebar">
  {% if CONFIG.logo_url %}
  <div class="section">
    <img src="{{ CONFIG.logo_url }}" class="logo"/>
  </div>
  {% endif %}
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Sections</h5>
    <div class="links">
    {% for symbol in symbols %}
    {% if symbols[symbol]|length > 0 %}
      <a href="#{{ symbol }}">{{ symbol|capitalize }}</a>
    {% endif %}
    {% endfor %}
    </div>
  </div>
  {% if CONFIG.dependencies|length > 0 %}
  <div class="section">
    <h5>Dependencies</h5>
    <div class="links">
    {% for gir_name, dep in CONFIG.dependencies.items() %}
      <a href="{{ dep.docs_url }}" class="external">{{ dep.name }}</a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Namespace</h3>
    <h1>{{ namespace.name }} &ndash; {{ namespace.version }}</h1>

    <div class="description">
      <p>{{ CONFIG.description|escape }}</p>
    </div>

    <div class="meta info">
      <table>
        <tr><td><em>Authors</em></td><td>{{ CONFIG.authors }}</td></tr>
        <tr><td><em>License</em></td><td>{{ CONFIG.license }}</td></tr>
        <tr><td><em>Website</em></td><td><a href="{{ CONFIG.website_url }}" class="external">{{ CONFIG.website_url }}</a></td></tr>
        <tr><td><em>Browse code</em></td><td><a href="{{ CONFIG.browse_url }}" class="external">{{ CONFIG.browse_url }}</a></td></tr>
      </table>
    </div>

    <div class="meta build toggle-wrapper">
      <h4>Build</h4>

      <div class="docblock default-hide">
      <table>
        <tr><td>C headers</td><td><code>{{ repository.c_includes|join(', ') }}</code></td></tr>
        <tr><td>pkg-config files</td><td><code>{{ repository.packages|join(', ') }}</code></td></tr>
      </table>
      </div>
    </div>
  </header>

  {% if CONFIG.dependencies|length > 0 %}
  <section>
    <div class="toggle-wrapper">
      <h4 id="dependencies">Dependencies</a></h4>

      <div class="docblock">
        <table>
        {% for gir_name, dep in CONFIG.dependencies.items() %}
          <tr>
            <td><strong>{{ dep.name }}</strong></td>
            <td>{{ dep.description }}</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="{{ dep.docs_url }}" class="external">Browse documentation</a></td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </section>
  {% endif %}

  {% if content_files|length > 0 %}
  <section>
    <div class="toggle-wrapper">
      <h4 id="extra">Additional documentation</a></h4>

      <div class="docblock">
        <ul>
        {% for file in content_files %}
          <li><a href="{{ file.href }}">{{ file.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  {% endif %}

  {% macro section_block(elements, section_id, section_title, section_fragment) -%}
  {% if elements|length > 0 %}
  <section>
    <div class="toggle-wrapper default-hide">
      <h4 id="{{ section_id }}">{{ section_title }}</h4>

      <div class="docblock">
      {% for element in elements %}
      {% if loop.first %}<ul>{% endif %}
        <li><a href="{{ section_fragment }}.{{ element.name }}.html">{{ element.name }}</a></li>
      {% if loop.last %}</ul>{% endif %}
      {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  {%- endmacro %}

  {{ section_block(symbols.classes, "classes", "Classes", "class") }}

  {{ section_block(symbols.interfaces, "interfaces", "Interfaces", "iface") }}

  {{ section_block(symbols.records, "records", "Records", "struct") }}

  {{ section_block(symbols.unions, "unions", "Unions", "union") }}

  {{ section_block(symbols.aliases, "aliases", "Aliases", "alias") }}

  {{ section_block(symbols.enums, "enums", "Enumerations", "enum") }}

  {{ section_block(symbols.bitfields, "bitfields", "Bitfields", "flags") }}

  {{ section_block(symbols.domains, "domains", "Error domains", "error") }}

  {{ section_block(symbols.callbacks, "callbacks", "Callbacks", "callback") }}

  {{ section_block(symbols.functions, "functions", "Functions", "func") }}

  {{ section_block(symbols.constants, "constants", "Constants", "const") }}
</section>
{% endblock %}
