{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ class.name }}::{{ signal.name }}{% endblock %}

{% block meta_other %}
<meta name="og:title" content="{{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
<meta name="og:description" content="Reference for {{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
  {% if CONFIG.logo_url %}
  <div class="section">
    <img src="{{ CONFIG.logo_url }}" class="logo"/>
  </div>
  {% endif %}
  <div class="section namespace">
    <h3><a href="index.html">{{ namespace.name }}</a></h3>
    <p>Version: {{ namespace.version }}</p>
  </div>
  <div class="section">
    <h5>Type</h5>
    <div class="links">
      <a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>
    </div>
  </div>
  <div class="section">
    <h5>Instance methods</h5>
    <div class="links">
    {% for m in class.methods %}
      <a class="method" href="method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Class methods</h5>
    <div class="links">
    {% for m in class.class_methods %}
      <a class="method" href="class_method.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Type functions</h5>
    <div class="links">
    {% for m in class.type_funcs %}
      <a class="method" href="type_func.{{ class.name }}.{{ m.name }}.html">{{ m.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Properties</h5>
    <div class="links">
    {% for p in class.properties %}
      <a class="property" href="property.{{ class.name }}.{{ p.name }}.html">{{ p.name }}</a>
    {% endfor %}
    </div>
  </div>
  <div class="section">
    <h5>Signals</h5>
    <div class="links">
    {% for s in class.signals %}
      <a class="signal{% if s.name == signal.name %} current{% endif %}" href="signal.{{ class.name }}.{{ s.name }}.html">{{ s.name }}</a>
    {% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Signal</h3>
    <h1><a href="index.html">{{ namespace.name }}</a>.<a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>::{{ signal.name }}</h1>
  </header>

  <section>
    <div class="declaration toggle-wrapper">
      <h4><a name="declaration">Declaration</a></h4>

      <div class="docblock">
        <pre><code>{{ signal.c_decl }}</code></pre>
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4><a name="description">Description</a></h4>

      <div class="docblock">
        {{ signal.description|safe }}
      </div>

      <div class="docblock">
        <table>
          {% if signal.stability %}
          <tr><td>Stability:</td><td>{{ signal.stability }}</td></tr>
          {% endif %}
          {% if signal.available_since %}
          <tr><td>Available since:</td><td>{{ signal.available_since }}</td></tr>
          {% endif %}
          {% if signal.deprecated_since %}
          <tr><td>Deprecated since:</td><td>{{ signal.deprecated_since.version }}</td></tr>
          <tr><td colspan="2">{{ signal.deprecated_since.message|safe }}</td></tr>
          {% endif %}
        </table>
      </div>

      {% if signal.annotations %}
      <div class="docblock">
        <table>
        {% for (key, value) in signal.annotations %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

    {% if signal.arguments|length != 0 %}
    <div class="parameters toggle-wrapper">
      <h4><a name="parameters">Parameters</a></h4>

      <div class="docblock">
        <table>
          {% for arg in signal.arguments %}
          <tr>
            <td><code>{{ arg.name }}</code></td><td><code>{{ arg.type_cname }}</code></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>{{ arg.description|safe }}</td>
          </tr>
          {% if arg.direction != "in" %}<tr><td>&nbsp;</td><td>Direction: {{ arg.direction }}</td></tr>{% endif %}
          {% if arg.direction == "in" and arg.is_pointer and arg.nullable %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.direction == "out" and arg.optional %}<tr><td>&nbsp;</td><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if arg.is_pointer %}<tr><td>&nbsp;</td><td>{{ arg.transfer }}</td></tr>{% endif %}
          {% if arg.string_note %}<tr><td>&nbsp;</td><td>{{ arg.string_note }}</td></tr>{% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    {% if signal.return_value %}
    <div class="returns toggle-wrapper">
      <h4><a name="returns">Return value</a></h4>

      <div class="docblock">
        {{ signal.return_value.description|safe }}
        <table>
          {% if signal.return_value.is_pointer %}<tr><td>{{ signal.return_value.transfer }}</td></tr>{% endif %}
          {% if signal.return_value.is_pointer and signal.return_value.nullable %}<tr><td>Can be <code>NULL</code></td></tr>{% endif %}
          {% if signal.return_value.string_note %}<tr><td>{{ signal.return_value.string_note }}</td></tr>{% endif %}
        </table>
      </div>
    </div>
    {% endif %}

  </section>
</section>
{% endblock %}
