@import url("pygment.css");

body {
  font: 16px/1.4 "Source Serif Pro", serif;
  margin: 0;
  position: relative;
  padding: 10px 15px 20px 15px;

  -webkit-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

.content h2, .content h3, .content h4 {
  color: #acacac;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.sidebar .logo {
  margin: 12px auto;
  width: 100%;
}

ol, ul {
  padding-left: 25px;
}

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: .6em;
}

p {
  margin: 0 0 .6em 0;
}

a {
  color: rgb(59, 134, 226);
  text-decoration: none;
}

h4 > a, h5 > a, h6 > a {
  font-weight: 600;
}

summary {
  outline: none;
}

code, pre {
  font-family: "Source Code Pro", monospace;
}

pre {
  padding: 14px;
}

#body-wrapper {
  box-sizing: border-box;
}

#main {
  position: relative;
}

.anchor {
  display: none;
  text-decoration: none;
  background: transparent;
  padding-left: 7px;
}

.anchor:before {
  content: '§';
}

.md-anchor {
  display: none;
  text-decoration: none;
  background: transparent;
  padding-left: 7px;
}

h1:hover > .anchor,
h2:hover > .anchor,
h3:hover > .anchor,
h4:hover > .anchor,
h5:hover > .anchor {
  display: initial;
}

h1:hover > .md-anchor,
h2:hover > .md-anchor,
h3:hover > .md-anchor,
h4:hover > .md-anchor {
  display: initial;
}

.collapse-toggle {
  position: absolute;
  left: -25px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.25);
  font-size: 0.8em;
}

.collapse-toggle > .inner {
  display: inline-block;
  width: 1.2ch;
  text-align: center;
}

.docblock {
  margin-left: 23px;
  position: relative;
  text-align: left;
}

.deprecated > h6 > a {
  color: rgba(59, 134, 226, 0.65);
}

.content {
  margin-left: 230px;
  margin-top: 50px;
  max-width: none;
  overflow: visible;
}

.sidebar {
  background-color: #efefef;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

* {
  scrollbar-width: initial;
}

.sidebar {
  scrollbar-width: thin;
}

.sidebar .section > ul > li {
  margin-right: -10px;
}

.sidebar .section h3, .sidebar .section h5 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
  margin-right: 12px;
}

.sidebar .namespace > h3 > a {
  font-weight: 800;
  font-size: 1.2em;
}

.sidebar .namespace > p {
  font-size: 0.8em;
  text-align: center;
  margin-right: 12px;
}

.sidebar .section {
  padding-left: 12px;
}

.sidebar .links {
  margin-bottom: 15px;
}

.sidebar .section a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  transition: background-color 250ms ease-out;
}

.sidebar .section a:hover {
  background-color: white;
}

.sidebar .section a.current {
  background-color: white;
}

.content, nav {
  max-width: 960px;
}

.hidden {
  display: none !important;
}

.content table:not(.table-display) {
  border-spacing: 0 5px;
}

.content td {
  vertical-align: top;
}

.content td:first-child {
  padding-right: 20px;
}

.content td p:first-child {
  margin-top: 0;
}

.content td h1, .content td h2 {
  margin-left: 0;
  font-size: 1.1em;
}

.content tr:first-child td {
  border-top: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 15px monospace;
  line-height: 10px;
  vertical-align: middle;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0;
  cursor: default;
}

.content tr:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.content td {
  vertical-align: top;
}

.content td:first-child {
  padding-right: 20px;
}

.content td p:first-child {
  margin-top: 0;
}

.content td h4, .content td h5 {
  margin-left: 0;
  font-size: 1.1em;
}

.content tr:first-child td {
  border-top: 0;
}

.docblock table {
  margin: .5em 0;
  width: calc(100% - 64px);
}

.docblock table td {
  padding: .5em;
}

.docblock table th {
  padding: .5em;
  text-align: left;
  font-weight: 600;
}

.srclink {
  color: rgba(0, 0, 0, 0.55);
  flex-grow: 0;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
  margin-left: auto;
}

@media (max-width: 700px) {
  body {
    padding-top: 0px;
  }

  .sidebar {
    height: 100%;
    min-height: 128px;
    margin: 0;
    margin-left: -25px;
    padding: 0 15px;
    position: static;
    z-index: 11;
    float: left;
    font-size: 75%;
  }

  .sidebar .logo {
    max-width: 128px;
    max-height: 128px;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    min-width: 0;
  }
}
