@import url("pygment.css");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/*********************************
 * LIGHT THEME
 *********************************/
:root,
.theme-light {
  --primary: rgb(17, 112, 228);
  --text-color: #333;
  --body-bg: #fff;
  --sidebar-primary: rgb(144, 194, 255);
  --sidebar-bg: #151515;
  --sidebar-selected-bg: var(--primary);
  --sidebar-text-color: #fafafa;
  --box-bg: rgba(135, 135, 135, 0.1);
  --box-radius: 0.35rem;
  --box-padding: 0.75rem;
  --box-margin: 0.75rem 0;
  --box-text-color: #111;
}

/*********************************
 * DARK THEME
 *********************************/
.theme-dark {
  --primary: rgb(144, 194, 255);
	--text-color: #f6f6f6;
	--body-bg: #121212;
	--sidebar-primary: rgb(144, 194, 255);
	--sidebar-bg: #151515;
  --sidebar-selected-bg: rgb(17, 112, 228);
	--sidebar-text-color: #fafafa;
	--box-bg: rgba(135, 135, 135, 0.1);
	--box-radius: 0.35rem;
	--box-padding: 0.75rem;
	--box-margin: 0.75rem 0;
	--box-text-color: #fff;  
}


::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(128, 128, 128, 0.6);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(128, 128, 128, 1);
}

::-webkit-scrollbar-track {
	background: rgba(128, 128, 128, 0.15);
}

body {
  font: 16px/1.5 "Source Serif Pro", serif;
  font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0;
  padding: 0;
  position: relative;

  -webkit-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
  color: var(--text-color);
  background: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin: 1.75em 0 0.75em 0;
}

h1 {
  font-size: 1.75em;
}

header h1 {
  margin-top: 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5, h6 {
  font-size: 1em;
  font-weight: 500;
}

.sidebar .logo {
  display: block;
  margin: 2rem auto 0 auto;
  width: 70%;
}

ol, ul {
  padding-left: 1rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: .6em;
}

p {
  margin: 0 0 .6em 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

summary {
  outline: none;
}

blockquote {
	border-left: 3px solid var(--primary);
	background: var(--box-bg);
	padding: var(--box-padding);
	border-radius: var(--box-radius);
	margin: var(--box--margin);
}

code, 
pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.85rem;
  color: var(--box-text-color);
}

pre {
	background: var(--box-bg);
	padding: var(--box-padding);
	border-radius: var(--box-radius);
  overflow: auto;
}

code {
  display: inline-flex;
  background: var(--box-bg);
  padding: 0 0.35em;
  border-radius: 0.35rem;
}


pre pre,
pre code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  background: none;
  color: inherit;
}

pre code {
  background: none;
  border-radius: 0;
  color: inherit;
}


h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-family: inherit;
  font-weight: inherit;
  font-size: 0.85em;
}

strong, b {
  font-weight: 600;
}

/* fix unwanted margins in tables, code, lists and blockquotes */
li > *:first-child,
li > *:first-child > *:first-child,
li > *:first-child > *:first-child > *:first-child,
td > *:first-child,
td > *:first-child > *:first-child,
td > *:first-child > *:first-child > *:first-child,
pre > *:first-child,
pre > *:first-child > *:first-child,
pre > *:first-child > *:first-child > *:first-child,
blockquote > *:first-child,
blockquote > *:first-child > *:first-child,
blockquote > *:first-child > *:first-child > *:first-child {
  margin-top: 0;
}
li > *:last-child,
li > *:last-child > *:last-child,
li > *:last-child > *:last-child > *:last-child,
td > *:last-child,
td > *:last-child > *:last-child,
td > *:last-child > *:last-child > *:last-child,
pre > *:last-child,
pre > *:last-child > *:last-child,
pre > *:last-child > *:last-child > *:last-child,
blockquote > *:last-child,
blockquote > *:last-child > *:last-child,
blockquote > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

#body-wrapper {
  box-sizing: border-box;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#body-wrapper:focus {
  outline: none;
}

#main {
  position: relative;
  flex-grow: 1;
}

footer {
  width: 100%;
}

.anchor {
  position: relative;
  z-index: 1;
  text-decoration: none;
  background: transparent;
  padding: 0 0.35rem;
  color: #aaa;
}

.anchor:hover {
  color: var(--primary);
}

.anchor:not([href]) {
  display: none;
}

.anchor:before {
  content: '#'; /*'§'*/
}

.md-anchor {
  display: none;
  text-decoration: none;
  background: transparent;
  padding-left: 0.35rem;
}

h1:hover > .md-anchor,
h2:hover > .md-anchor,
h3:hover > .md-anchor,
h4:hover > .md-anchor {
  display: initial;
}

.toggle-wrapper {
  position: relative;
}

.collapse-toggle {
	position: absolute;
	right: 0;
	left: -2em;
	white-space: nowrap;
	text-decoration: none;
	font-size: 0.8em;
  color: transparent;
}

.collapse-toggle > .inner {
	width: 1rem;
	height: 1rem;
	border-radius: 4px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	color: var(--box-text-color);
	position: relative;
	left: -0.25rem;
	font-family: monospace;
	font-size: 0.7rem;
	font-weight: bold;
	background: var(--box-bg);
}

.docblock {
  position: relative;
  text-align: left;
}

.deprecated > h6 > a {
  opacity: 0.65;
  text-decoration: dotted;
}

.content {
  padding: 2rem 4rem;
  max-width: none;
  overflow: visible;
}

footer {
  display: none;
}

* {
  scrollbar-width: initial;
}

.sidebar {
  scrollbar-width: thin;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--sidebar-bg);
  min-width: 15rem;
  padding: 0 2rem;
  color: var(--sidebar-text-color);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar .section > ul > li {
  margin-right: -10px;
}

.sidebar .section h3, .sidebar .section h5 {
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sidebar .section h5 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.sidebar .namespace > h3 {
  margin-bottom: 0;
  padding: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
}

.sidebar .namespace > p {
  font-size: 0.9em;
  opacity: 0.8;
  padding-left: 0.5rem;
}

.sidebar .section {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sidebar .links {
  margin-bottom: 1rem;
}

.sidebar .section a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background-color 150ms ease;
  color: var(--sidebar-primary);
	border-radius: 0.35rem;
 	padding: 0.2rem 0.5rem;
	margin-bottom: 0.15rem;
}

.sidebar .section a:hover {
  background-color: rgba(127, 127, 127, 0.2);
  color: var(--sidebar-text-color);
}

.sidebar .section a.current {
  background-color: var(--sidebar-selected-bg);
  color: white;
}

.content, nav {
  max-width: 960px;
}

.hidden {
  display: none !important;
}

.content table:not(.table-display) {
  border-spacing: 0 0.25rem;
}

.content td {
  vertical-align: top;
}

.content td:first-child {
  padding-right: 1rem;
}

.content td p:first-child {
  margin-top: 0;
}

.content td h1, .content td h2 {
  margin-left: 0;
  font-size: 1.1em;
}

.content tr:first-child td {
  border-top: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 15px monospace;
  line-height: 10px;
  vertical-align: middle;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0;
  cursor: default;
}

.content tr:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.content td {
  vertical-align: top;
}

.content td:first-child {
  padding-right: 1rem;
}

.content td p:first-child {
  margin-top: 0;
}

.content td h4, .content td h5 {
  margin-left: 0;
  font-size: 1.1em;
}

.content tr:first-child td {
  border-top: 0;
}

.docblock table {
  margin: .25em 0;
  width: calc(100% - 3rem);
}

.docblock table td {
  padding: .25em;
}

.docblock table th {
  padding: .25em;
  text-align: left;
  font-weight: 600;
}

.docblock ul li,
.docblock ol li {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.srclink {
  color: rgba(0, 0, 0, 0.55);
  flex-grow: 0;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.meta tr > td:not(:first-child) {
	width: 100%;
}

.meta tr > td:first-child {
	white-space: nowrap;
}

@media (max-width: 700px) {
  body {
    padding-top: 0px;
  }

  .sidebar {
    height: 100%;
    min-height: 128px;
    margin: 0;
    margin-left: -25px;
    padding: 0 15px;
    position: static;
    z-index: 11;
    float: left;
    font-size: 75%;
  }

  .sidebar .logo {
    max-width: 128px;
    max-height: 128px;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    min-width: 0;
  }
}
